doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')

        title Robyn Noble

        link(rel='icon', type='image/x-icon', href='assets/favicon.ico')

        // Font Awesome icons (free version)
        script(src='https://use.fontawesome.com/releases/v5.15.3/js/all.js', crossorigin='anonymous')

        // Google fonts
        link(href='https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900' rel='stylesheet')
        link(href='https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i' rel='stylesheet')

        // Core theme CSS (includes Bootstrap)
        link(href='css/styles.css', rel='stylesheet')

    body#page-top

        // Navigation
        nav.navbar.navbar-expand-lg.navbar-dark.navbar-custom.fixed-top
            .container.px-5
                //- a.navbar-brand(href='#page-top') Robyn Noble
                button.navbar-toggler(type='button', data-bs-toggle='collapse', data-bs-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
                    span.navbar-toggler-icon
                #navbarResponsive.collapse.navbar-collapse
                    ul.navbar-nav.ms-auto
                        li.nav-item
                            a.nav-link(href='#about') About
                        li.nav-item
                            a.nav-link(href='#portfolio') Portfolio 
                        li.nav-item 
                            a.nav-link(href='#contact') Contact

        // Header
        header.masthead.text-center.text-white
            .masthead-content
                .container.px-5
                    h1.masthead-heading.mb-0 Robyn Noble
                    h2.masthead-subheading.mb-0 Software Engineer 
                    //- a.btn.btn-primary.btn-xl.rounded-pill.mt-5(href='#scroll') Learn More
            .bg-circle-1.bg-circle
            .bg-circle-2.bg-circle
            .bg-circle-3.bg-circle
            .bg-circle-4.bg-circle

        // Content section 1
        section#about
            .container.px-5
                .row.gx-5.align-items-center
                    .col-lg-6.order-lg-2
                        .p-5
                            img.img-fluid.rounded-circle(src='assets/img/Robyn.png', alt='...')
                    .col-lg-6.order-lg-1
                        .p-5
                            h2.display-4 A little bit about me...
                            p
                                | After over ten years in the retail world I've made the exciting turn to software development. I have an extensive amount of communication and customer service background. I am well versed in time management, multi-tasking, and my favorite, collaboration (just to name a few). 

        // Content section 2
        section#portfolio
            .container.px-5
                .row.gx-5.align-items-center
                    .col-lg-6
                        .p-5
                            img.img-fluid(src='assets/img/soloProjectWireframe.png', alt='...')
                    .col-lg-6
                        .p-5
                            h2.display-4 Portfolio
                            p
                                | Furniture Exchange was my first solo project, it's an app that allows users to browse listings, add their own and make edits/remove them.
                    .col-lg-6 
                        .p-5 
                            img.img-fluid(src='assets/img/photoGallery.png', alt='...')
                    .col-lg-6 
                        .p-5 
                            p 
                                | Photo gallery of my son made using React.js. This app allows users to toggle between the picture and information about it. Users my also 'like' an image and see how many 'likes' it has.

        // Content section 3
        section#contact
            .container.px-5
                .row.gx-5.align-items-center
                    .col-lg-6.order-lg-2
                        .p-5
                            //- img.img-fluid.rounded-circle(src='assets/img/', alt='...')
                    .col-lg-6.order-lg-1
                        .p-5
                            h2.display-4 Contact Me!
                            p
                                | 
                                a(href='https://www.linkedin.com/in/robynnoble/') Connect with me on LinkedIn
                                br
                                |
                                a(href='https://github.com/rhurd06') GitHub

        // Footer
        footer.py-5.bg-black
            .container.px-5
                p.m-0.text-center.text-white.small Copyright &copy; Robyn Noble 2021

        // Bootstrap core JS
        script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js')

        // Core theme JS
        script(src='js/scripts.js')